*{
    margin: 0;
    padding: 0;
}
/* header */
header{
    border-radius: 16px;
    background-image:url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 50px auto 120px auto;
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 177px 344px;
}
.banner-subtitle{
    font-family: Merriweather;
    font-size: 32px;
    color: white;
}
.banner-title{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: #ffffff;
}
/* section one */
#all-catagories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-container{
    width: 802.9px;
    text-align: center;
}
.section-title{
    font-size: 88px;
    font-weight: bold;
    font-family: Inter;
    color: #FF0000;
    margin-bottom: 48px;
}
.section-subtitle{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}
.section-description{
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
.happy-new{
    width: 802.9px;
    height: 500px;
    margin-bottom: 120px;
}
/* second section */
#midnight{
    border-radius: 16px; 
    background-image: linear-gradient(to right, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: 50px auto 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.midnight-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    margin-left: 120px;
}
.midnight-title{
    width: 642px;
    height: 176px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-top: 126px;
    margin-bottom: 24px;
}
.midnight-description{
    width: 697px;
    height: 60px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
}
.join-now{
    width: 103px;
    height: 24px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-left: 130px;
    margin-bottom: 124px;
}
.midnight-img{
    margin: 66.11px 138px 67.23px;
}
/* third section */
#prak-hotel{
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 50px auto 120px auto;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.hotel-container{
    margin: 100px 386px 110px 385px;
}
.title{
    font-family: Inter;
    font-size: 32px;
    line-height: 56px;
    font-weight: 600;
    color: #070211;
    text-align: center;
}
.span1{
    color: #FF0000;
}
.btn{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.btn-praimary{
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    color: #ffffff;
    background: rgb(255, 0, 0);
    border: none;
}
/* forth section */
 #best-offer{
    width: 1320px;
    height: 463px;
    margin: 50px auto 120px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .section3-container{
    display: flex;
 }
 .best-offer-container{
    flex-direction: column;
 }
 .title-container{
    align-items: center;
     width: 393px;
     height: 297px;
     margin-top: auto;
     margin-bottom: auto;
     margin-top: 112px;
 }
 .best-subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
 }
 .best-title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
 }
 .best-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
 }
 .box-container{
    width: 463px;
    height: 463px;
    display: flex;
    justify-content: center;
    /* background: #FF0000; */
    margin-left: 70px;
 }
 .best-offer-container2{
    margin-left: 118px;
 }
.title-container2{
    width: 276px;
    height: 170px;
    margin-top: 44px;
    
}
.best-title2{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 16px;
    margin-top: 116px;
}
.best-description2{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 44px;

}
.box-container3{
    width: 415px;
    height: 415px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    border: 15px solid #FF0000;
    margin-left: 70px;
}

/* Holiday section */
#holiday{
    /* background-color: bisque; */
    width: 1320px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    text-align: center;
    display: flex;
    justify-content: center;

}
.holiday-subtitle{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.holiday-title{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-bottom: 28px;
}
.holiday{
    color: #FF0000;
}
.holiday-description{
    width: 1068px;
    height: 96px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
/* secton five */
#discont{
    /* background-color: bisque; */
    width: 1320px;
    height: 662.07px;
    margin: auto auto 113px auto;
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    
    
}
.discont-container{
    display: flex;
    justify-content: center;
}
.group-75{
    width: 674px;
    height: 577px;
    margin-left: 60px;
    margin-right: 584px;
    margin-bottom: 84px;
}
/* gallery section */
#gallery{
    width: 1320px;
    height: 1163px;
    margin: 0 auto 120px auto;
}
.gallery-subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.gallery-title{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-bottom: 22px;
}
.gallery-description{
    width: 896px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}
.photo-container{
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.photo-container img{
    max-width: 420px;
}
.photo-gallery{
    width: 420px;
    height: 450px;
    border-radius: 16px;
    transition: box-shadow 0.3s ease;
}
.photo-gallery:hover{
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}